
extends ../_layout

block content
    form(method="post",action="/register")
        fieldset
            legend New User Registration

            - if (typeof flash !== "undefined")
                -if (flash.error)
                    for message in flash.error
                        div.alert.alert-error !{message}

            label Email
            input(name='email',type='email',maxlength='254',required='true')
            label Username
            input(name='username',type='text',pattern=".{6,}",maxlength='64',title='Please choose a username that is at least 6 characters long.',required='true')
            label Password
            input(name='password',pattern=".{8,}",type='password',title='Please choose a password that is at least 8 characters long.',required='true')
            label Retype password
            input(name='retypedPassword',type='password',title='Please type the password again for verification.',required='true')
            label
            input.btn#submitRegistration(type='submit') Register

    div If you'd like to log in with a Google account, 
        a(href="/auth/google") click here.

    div If you already have an account, 
        a(href='/login') click here.