
extends ../_layout

block content

    form(method="post")
        fieldset
            legend Choose a New Password

            - if (typeof flash !== "undefined")
                -if (flash.error)
                    for message in flash.error
                        div.alert.alert-error !{message}
            
            label Password
            input(name='newPassword',type='password')
            label Retype your new password
            input(name='newPasswordConfirmation',type='password')
            label
            input.btn#submitNewPassword(type='submit')

    div For other login options, 
        a(href="/login") click here


