<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="iis_server.js" verb="*" modules="iisnode" />
    </handlers>    
    <rewrite>
     <rules>
       <rule name="allThePaths">
         <match url=".*" />
         <action type="Rewrite" url="iis_server.js" />
       </rule>
     </rules>
   </rewrite>        
 </system.webServer>
</configuration>