doctype 5
html
    head
        title= title
        script(src='/client/clientLib/requirejs-2.1.6.js',data-main="/client/app")
    body.container
        div(style='overflow:hidden;float:right;padding:10px;background-color:white')
            div(style='float:right')
                div
                    a(href='/') Home 
                    | | 
                    a(href='/feeds') Manage 
                    | | 
                    a(href='/about') About

                div
                    - if (isAuthenticated)
                        a(href="/logout") Logout
                    - else
                        include loginButton

        - if (typeof flash !== "undefined")
            -if (flash.info)
                fieldset
                    for message in flash.info
                        span.info !{message}

        block content
