doctype 5
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
  body
    - if (isAuthenticated)
        a(href="/logout") Logout
    - else
        a(href="/auth/google") Login

    - if (typeof flash !== "undefined")
        -if (flash.info)
            span.info #{flash.info}

    block content