extends _layout

block content
    fieldset
        legend About this site

        | I wanted to learn node.js development, so I decided to write an rss reader.  
        a(href='http://github.com/fschwiet/letscodejavascript') The source is on github.  

        | If you have any questions, open an issue on github or 
        a(href='mailto:support@asimplereader.com') email
        | .  
