extends _layout

block content
    fieldset
        legend About this site

        | I wanted to learn node.js development, so I decided to write an rss reader.  
        a(href='http://github.com/fschwiet/letscodejavascript') The source is on github.  

        | If you have any questions, open an issue on github or message me via 
        a(href='http://twitter.com/fschwiet') twitter
        | .  

        | There's a lot of things I still want to improve.  If you code node.js and want to help out, pairing or otherwise, let me know.  
