div The file you want to upload can be found 
    a(href="http://www.google.com/reader/subscriptions/export") here
form.uploadRss(method='post', enctype="multipart/form-data")
    input(type='file', name="subscriptionsXml")
    input(type='submit')
table
    tr
        th name
        th
        th xml url
        th html url
    each row in rows
        tr(data-rssurl=row.rssUrl)
            td #{row.name}
            td 
                a.js-unsubscribe unsubscribe
            td #{row.rssUrl} 
            td #{row.htmlUrl}