
- if (rows.length > 0)
    div.container
        legend(style='width:auto') Your RSS subscriptions
        each row in rows
            div.js-subscription(data-rssurl=row.rssUrl)
                span.js-title #{row.name} 
                | | 
                a(href=row.htmlUrl) go there 
                | | 
                a.js-unsubscribe unsubscribe 

hr.soften
form.uploadRss(method='post', enctype="multipart/form-data")
    fieldset 
        legend Importing Google RSS subscriptions
        | First, save your google RSS subscriptions 
        a(href="http://www.google.com/reader/subscriptions/export") from Google
        | .

        label
            | Select your subscriptions .xml file
            input(type='file', name="subscriptionsXml")
            | and 
            input.btn.btn-primary(type='submit',value='import')
                | import
