
- if (rows.length > 0)
    div(class='container')
        legend(style='width:auto') Your RSS subscriptions
        each row in rows
            div
                | #{row.name} | 
                a(href=row.htmlUrl) go there 
                | | 
                a.js-unsubscribe unsubscribe 

hr(class='soften')
form.uploadRss(method='post', enctype="multipart/form-data")
    fieldset 
        legend Importing Google RSS subscriptions
        | First, save your google RSS subscriptions 
        a(href="http://www.google.com/reader/subscriptions/export") from Google
        | .

        label
            | Select your subscriptions .xml file
            input(type='file', name="subscriptionsXml")
            | and 
            input(type='submit',class='btn btn-primary',value='import')
                | import
