
form(method='post',name='trimPosts',action='/posts/trimposts')
    span.warn.js-warn
    input(type='submit') Remove
    | all posts after the first
    input(type='number',name='trimPostsAfter',value='24')
    input(type='hidden',name='urlList',value='[]')
