
form(method='post',name='trimPosts',action='/posts/trimposts')
    legend Remove older posts
    span.warn.js-warn
    input(type='hidden',name='urlList',value='[]')
    ol
        li
            label(name='countToKeep') Choose how many posts to keep:
                input(name='countToKeep',type='number',value='24')
        li
            | Mark the other older posts as finished:
            input(name='submitTrimPosts',type='submit',value='Mark finished')  


    
