extends _layout

block content
    - if (!isAuthenticated)
        span It's easy to read your rss feeds without Google Reader.
        ol 
            li 
                include loginButton
                |  with your google account.
            li Import your feeds.
            li And you are done!
    - if (typeof feeds !== "undefined")
        
        fieldset 
            div.js-topContainer

        fieldset
            legend Newest Posts
            div.js-postsContainer
                each post in posts
                    include post

        - var pageState = "<script> window.subscribedFeeds = " + JSON.stringify(feeds) + "; </script>"
        | !{pageState}
