extends _layout

block content
    - if (typeof feeds !== "undefined")
        
        fieldset 
            div.js-topContainer

        fieldset
            legend Newest Posts
            div.js-postsContainer
                each post in posts
                    include post

        - var pageState = "<script> window.subscribedFeeds = " + JSON.stringify(feeds) + "; </script>"
        | !{pageState}
