extends _layout

block content
  span It's easy to read your rss feeds without Google Reader.
  ol 
    li Login with your google account.
    li Import your feeds.
    li And you are done!

  // this is homepage.html