
div.js-post(data-postDate=postDate)
    span.js-feedName #{feedName} 
    span.js-postName #{postName} 
    a.js-postLink(href=postUrl,target="_blank") read
    a.js-finishedButton mark finished
