
div.js-post(data-postDate=postDate)
    div.js-postName #{postName} 
    a.js-postLink(href=postUrl,target="_blank") read 
    | | 
    a.js-finishedButton(href='#') mark finished 
    a.js-unfinishedButton(href='#',style='display:none') mark unfinished 
    | | 
    span.small from 
    span.js-feedName #{feedName} 
