
extends _layout

block content

    form(method="post")
        fieldset
            legend Choose a New Password
            label Password
            input(name='newPassword',type='password')
            label Retype your new password
            input(name='newPasswordConfirmation',type='password')
            label
            input.btn#submitNewPassword(type='submit')

    div For other login options, 
        a(href="/login") click here


