
extends _layout

block content

    form(method="post",action="/resetPassword")
        fieldset
            legend Reset your password
            label Username or Email Address
            input(name='usernameOrEmail',type='text')
            label
            input.btn#submitNewPasswordRequest(type='submit')

    div For other login options, 
        a(href="/login") click here


